<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Warning Alert Notification | CodingNepal</title>
    <link rel="stylesheet" href="/css/alert.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>    
    
    <div class="alert hide">
      <span class="fas fa-exclamation-circle"></span>
      <span class="msg">Our Covid-19 Data is Updated Daily after 6 pm</span>
    </div>    
   
  </body>
</html>
