<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/covid19.css" />

  </head>
  <body>
    <nav>
      <%- include('../views/partials/navbar'); %>
    </nav>
        <div class="c_main">
      <div class="c_image">
        <img src="/images/c_covid.png" alt="My image" />
      </div>
      <div class="c_content">
        <div class="c_info">
          <div class="c_heading"><h1>What is Covid-19</h1></div>
          <div class="c_text">
            <ul>
              <li>
                Coronavirus disease (COVID-19) is an infectious disease caused
                by a newly discovered coronavirus.
              </li>
              <br />
              <li>
                Most people infected with the COVID-19 virus will experience
                mild to moderate respiratory illness and recover without
                requiring special treatment. Older people, and those with
                underlying medical problems like cardiovascular disease,
                diabetes, chronic respiratory disease, and cancer are more
                likely to develop serious illness.
              </li>
              <br />
              <li>
                The best way to prevent and slow down transmission is to be well
                informed about the COVID-19 virus, the disease it causes and how
                it spreads. Protect yourself and others from infection by
                washing your hands or using an alcohol based rub frequently and
                not touching your face.
              </li>
              <br />
              <li>
                The COVID-19 virus spreads primarily through droplets of saliva
                or discharge from the nose when an infected person coughs or
                sneezes, so it’s important that you also practice respiratory
                etiquette (for example, by coughing into a flexed elbow).
              </li>
            </ul>
          </div>
        </div>
        <div class="c_symptoms">
          <div class="c_heading">
            <h1>Symptoms</h1>
          </div>
          <div class="c_text c__text">
            <h3>Most common symptoms:</h3>
            <ul>
              <li>Fever</li>
              <li>Dry Cough</li>
              <li>Tiredness</li>
            </ul>
            <hr />
            <h3>Less common symptoms:</h3>
            <ul>
              <li>Aches and Pains.</li>
              <li>Sore Throat.</li>
              <li>Diarrhoea.</li>
              <li>Conjunctivitis.</li>
              <li>Headache.</li>
              <li>Loss of taste or smell.</li>
              <li>a rash on skin, or discolouration of fingers or toes.</li>
            </ul>
            <hr />
            <h3>Serious symptoms:</h3>
            <ul>
              <li>difficulty breathing or shortness of breath.</li>
              <li>chest pain or pressure.</li>
              <li>loss of speech or movement.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="c_video"><iframe 
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe></iframe></div>
    </div>
  </body>
</html>
