<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/prevention.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('../views/partials/navbar'); %>
    <div class="p_main">
      <div class="p_header"><h1>How to prevent yourself from Covid-19</h1></div>
      <div class="p_cardmain">
        <div class="p_cardcontainer">
          <div class="p_card">
            <div class="p_card_image">
              <img src="/images/mask.png" alt="Mask" />
            </div>
            <div class="p_card_content">Wear a Mask,<br />Save lives.</div>
          </div>
          <div class="p_card">
            <div class="p_card_image">
              <img src="/images/senitizer.png" alt="Sanitizer" />
            </div>
            <div class="p_card_content">
              Use Hand Sanitizer because Sanitizer kills germs and viruses.
            </div>
          </div>
          <div class="p_card">
            <div class="p_card_image">
              <img src="/images/sd.png" alt="Social Distancing" />
            </div>
            <div class="p_card_content">
              keep at least 1m safe distancing for avoid covid 19.
            </div>
          </div>
        </div>
      </div>
      <div class="p_infomain">
        <div class="p_infoimage">
          <img src="/images/stop_covid.png" alt="STOP_COVID" />
        </div>
        <div class="p_info">
          <ul>
            <li>
              Clean your hands often. Use soap and water, or an alcohol-based
              hand rub.
            </li>
            <li>
              Maintain a safe distance from anyone who is coughing or sneezing.
            </li>
            <li>Wear a mask when physical distancing is not possible.</li>
            <li>
              If you have a fever, cough and difficulty breathing, seek medical
              attention.
            </li>
            <li>
              Cover your nose and mouth with your bent elbow or a tissue when
              you cough or sneeze.
            </li>
            <li>Don’t touch your eyes, nose or mouth.</li>
            <li>Stay home if you feel unwell.</li>
          </ul>
        </div>
      </div>
      <div class="p_handwash">
        <div class="p_washheading"><h1>How do you wash hands?</h1></div>
        <div class="p_washtitle">Proper steps for washing hands.</div>
        <div class="p_washcardcontainer">
          <div class="p_washcard">
            <div class="p_washimg">
              <img src="/images/hand1.png" alt="Hand Wash Step-1" />
            </div>
            <div class="p_washcontent">1. Palm to Palm</div>
          </div>
          <div class="p_washcard">
            <div class="p_washimg">
              <img src="/images/hand2.png" alt="Hand Wash Step-2" />
            </div>
            <div class="p_washcontent">2. Back of Hands</div>
          </div>
          <div class="p_washcard">
            <div class="p_washimg">
              <img src="/images/hand3.png" alt="Hand Wash Step-3" />
            </div>
            <div class="p_washcontent">3. Interdigital Spaces</div>
          </div>
          <div class="p_washcard">
            <div class="p_washimg">
              <img src="/images/hand4.png" alt="Hand Wash Step-4" />
            </div>
            <div class="p_washcontent">4. Fingertips</div>
          </div>
          <div class="p_washcard">
            <div class="p_washimg">
              <img src="/images/hand5.png" alt="Hand Wash Step-5" />
            </div>
            <div class="p_washcontent">5. Thumbs and Wrists</div>
          </div>
          <div class="p_washcard">
            <div class="p_washimg">
              <img src="/images/hand6.png" alt="Hand Wash Step-6" />
            </div>
            <div class="p_washcontent">6. Nails</div>
          </div>
        </div>
      </div>
      <div class="p_video">
        <iframe src="https://www.youtube.com/embed/BtN-goy9VOY"> </iframe>
      </div>
      <div class="p_slogan">" Germs are not for sharing "</div>
    </div>
  </body>
</html>
